# This is my first program

In [1]:
print("Hello Python")

Hello Python

* you can use (#, """3 times double quotation""") for comment them.

# Variable

* variable name must start with a letter or the underscore, it cannot start with a number.

In [2]:
age = 11
_height = 175

In [3]:
age

11

In [4]:
_height

175

In [5]:
2myname = "john"  # It gives syntax error

SyntaxError: invalid decimal literal (2435277620.py, line 1)

In [6]:
x = 4
y = "Yash"

In [7]:
print(x)

4

In [8]:
print(y)

Yash

In [9]:
print(x + y)  # Type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Assign maltiple values to defferent variables

In [26]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

You can also give one value for multiple variable

In [27]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [28]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

use "global" keyword to define global variable inside a function.

In [29]:
def my_func():
    global x
    x= "amazing"
my_func()
"python is " + x

'python is amazing'

you can also assign "global" variable outside the funcation and use it.

In [31]:
x = "awesome"

def my_fun():
    print("Python is " + x )
    
my_fun()

print("GOT is " + x)

Python is awesome
GOT is awesome

## Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

In [32]:
a = {"name" : "Jimmy", "age" : 35}  # Dict
b = {"apple", "banana", "cherry"}   # set
c = frozenset({"apple", "banana", "cherry"})  # frozenset

In [33]:
print(a)

{'name': 'Jimmy', 'age': 35}

In [34]:
d = list(("apple","banana","cherry"))
e = dict(name="john",age =37)

In [35]:
e

{'name': 'john', 'age': 37}

In [36]:
# Generating random number b/w 1,50
import random 
print(random.randint(1,50))

44

## Type Casting

In [ ]:
f = int(2.8) # f = 2
g = int("3") # g = 3
h = float(1) # h = 1.0
i = str("2.0") # i = "2.0"

In [ ]:
# you can change and know the data type using 
print(type())
print(int(3.0))

# Strings

Strings are arrays.
python does not have a char type, every character is simply a string of length 1.

In [10]:
# you can also use print() 
print('Hii')
print("Gorss Gott")

Hii
Gorss Gott

In [11]:
my_str = "python is fun"
print(my_str[3])

h

string slices must be integers.

# Slicing

In [12]:
print(my_str[2:7]) # last index not included and negetive indexing also possible.

thon

### String methods
reference https://www.w3schools.com/python/python_ref_string.asp

###  upper

In [13]:
a = "Hello, Python"
print(a.upper())

HELLO, PYTHON

### lower

In [14]:
print(a.lower())

hello, python

### strip

In [16]:
print(" hello ".strip())  # it removes all white space

hello

### replace

In [17]:
print("hello".replace("h","j"))

jello

### split

The split() method returns a list where the text between the specified separator becomes the list items

In [18]:
a = "Hello, world!"
print(a.split(","))

['Hello', ' world!']

In [19]:
print(a.split(" "))

['Hello,', 'world!']

## Checking string

In [21]:
text = "Game of throns is very big series"
print("very" in text)  # you can also give variable for check and than print and it also boolean and whitespace sensitive
if "Game" in text : print("it is amazing series")

True
it is amazing series

## Concatenation

In [22]:
print(a + "i am Yatharth")

Hello, world!i am Yatharth

## String formating

The format() string method takes the passed arguments, formats them, and places them in the string where the placeholders {} are.

In [24]:
age = 34
text = "my name is arya and i am {}"
print(text.format(age) + " years old!")

my name is arya and i am 34 years old!

In [25]:
quant = 3
itemno = 569
price = 420
myorder = "I want {} pieces of item {} for {} dollars"
print(myorder.format(quant,itemno,price) +" a piece")

I want 3 pieces of item 569 for 420 dollars a piece