# This is my first program

In [1]:
print("Hello Python")

Hello Python

* you can use (#, """3 times double quotation""") for comment them.

# Variable

* variable name must start with a letter or the underscore, it cannot start with a number.

In [2]:
age = 11
_height = 175

In [3]:
age

11

In [4]:
_height

175

In [5]:
# 2myname = "john"  # It gives syntax error

SyntaxError: invalid decimal literal (2435277620.py, line 1)

In [6]:
x = 4
y = "Yash"

In [7]:
print(x)

4

In [8]:
print(y)

Yash

In [9]:
print(x + y)  # Type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Assign maltiple values to defferent variables

In [26]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

You can also give one value for multiple variable

In [27]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [28]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

use "global" keyword to define global variable inside a function.

In [29]:
def my_func():
    global x
    x= "amazing"
my_func()
"python is " + x

'python is amazing'

you can also assign "global" variable outside the funcation and use it.

In [31]:
x = "awesome"

def my_fun():
    print("Python is " + x )
    
my_fun()

print("GOT is " + x)

Python is awesome
GOT is awesome

## Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

In [32]:
a = {"name" : "Jimmy", "age" : 35}  # Dict
b = {"apple", "banana", "cherry"}   # set
c = frozenset({"apple", "banana", "cherry"})  # frozenset

In [33]:
print(a)

{'name': 'Jimmy', 'age': 35}

In [34]:
d = list(("apple","banana","cherry"))
e = dict(name="john",age =37)

In [35]:
e

{'name': 'john', 'age': 37}

In [36]:
# Generating random number b/w 1,50
import random 
print(random.randint(1,50))

44

## Type Casting

In [ ]:
f = int(2.8) # f = 2
g = int("3") # g = 3
h = float(1) # h = 1.0
i = str("2.0") # i = "2.0"

In [ ]:
# you can change and know the data type using 
print(type())
print(int(3.0))

# Strings

Strings are arrays.
python does not have a char type, every character is simply a string of length 1.

In [10]:
# you can also use print() 
print('Hii')
print("Gorss Gott")

Hii
Gorss Gott

In [11]:
my_str = "python is fun"
print(my_str[3])

h

string slices must be integers.

# Slicing

In [12]:
print(my_str[2:7]) # last index not included and negetive indexing also possible.

thon

### String methods
reference https://www.w3schools.com/python/python_ref_string.asp

###  upper

In [13]:
a = "Hello, Python"
print(a.upper())

HELLO, PYTHON

### lower

In [14]:
print(a.lower())

hello, python

### strip

In [16]:
print(" hello ".strip())  # it removes all white space

hello

### replace

In [17]:
print("hello".replace("h","j"))

jello

### split

The split() method returns a list where the text between the specified separator becomes the list items

In [18]:
a = "Hello, world!"
print(a.split(","))

['Hello', ' world!']

In [19]:
print(a.split(" "))

['Hello,', 'world!']

## Checking string

In [21]:
text = "Game of throns is very big series"
print("very" in text)  # you can also give variable for check and than print and it also boolean and whitespace sensitive
if "Game" in text : print("it is amazing series")

True
it is amazing series

## Concatenation

In [22]:
print(a + "i am Yatharth")

Hello, world!i am Yatharth

## String formating

The format() string method takes the passed arguments, formats them, and places them in the string where the placeholders {} are.

In [24]:
age = 34
text = "my name is arya and i am {}"
print(text.format(age) + " years old!")

my name is arya and i am 34 years old!

In [25]:
quant = 3
itemno = 569
price = 420
myorder = "I want {} pieces of item {} for {} dollars"
print(myorder.format(quant,itemno,price) +" a piece")

I want 3 pieces of item 569 for 420 dollars a piece

## There is discription about List, Tuple, Set and Dictionaryand how it works.

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# Lists

In [1]:
my_list = ["apple", "banana", "cherry"]

In [2]:
my_list1 = ["apple", "banana", ["chiku", "orange"]]

In [3]:
print(my_list1[1])
print(my_list1[2][1])
print(my_list1[-2])  # negative indexing also posible
print(my_list1[1:2]) # range of indices
print(my_list1[1:3]) # end index not inclusive

banana
orange
banana
['banana']
['banana', ['chiku', 'orange']]

In [4]:
# you can add the value giving indexing position
my_list1[1] = "blueberry"
my_list1

['apple', 'blueberry', ['chiku', 'orange']]

## Looping

In [12]:
list1 = ["apple", "banana", "cherry"]
for x in list1:
    print(x)

apple
banana
cherry

In [13]:
for item in list1:
    if isinstance(item,str): #if item is string, upper
        print(item.upper())
    elif isinstance(item,list): # if list, iterate, then upper
        for x in item:
            print(x.upper())

APPLE
BANANA
CHERRY

## List methods

### append

adding item to end of the list

In [14]:
list1.append("echo")
list1

['apple', 'banana', 'cherry', 'echo']

### insert

index insertion

In [15]:
list1.insert(1, "index insertio")
list1

['apple', 'index insertio', 'banana', 'cherry', 'echo']

In [16]:
list1.insert(4, "Bye")
list1

['apple', 'index insertio', 'banana', 'cherry', 'Bye', 'echo']

### remove

In [17]:
list1.remove("banana")
list1

['apple', 'index insertio', 'cherry', 'Bye', 'echo']

In [18]:
list1.remove("Bye")
list1

['apple', 'index insertio', 'cherry', 'echo']

### pop

In [19]:
list1.pop()
list1

['apple', 'index insertio', 'cherry']

del list1[0] #removes the element at index 0
del list1 deletes entire list

### clear

In [20]:
# empties the list
# list1.clear()

### copy

In [21]:
# list2 = list1 just creates a refrence prone to list1 changes
list_new = list1.copy()
list_new

['apple', 'index insertio', 'cherry']

### extend

In [22]:
# To add elements from one list to another
list1 = [1,2,3]
list_new.extend(list1)
list_new

['apple', 'index insertio', 'cherry', 1, 2, 3]

__other list methods (https://www.w3schools.com/python/python_ref_list.asp)__

## Tuples

- tuples are ordered and **UNCHANGEABLE**

following apply for tuples as lists:
- ordering and accessng elements
- indexing and negative indexing
- slicing
- looping 
- len and item checks
- *del* for removing entire tuple
- joining using + (t3 = t1+t2)

### tuple methods

In [26]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [28]:
t4 = tuple1 + tuple2
t4

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3)

# you can also access in tuple using index positions (positive, negetive)

### add items

In [32]:
t_1 = ("apple", "banana", "cherry")
y = list(t_1)
y.append("orange")
t_1 = tuple(y)
y

['apple', 'banana', 'cherry', 'orange']

### remove item

In [22]:
t_2 = {"manthan", "harsh", "nilay", "malay"}
x = list(t_2)
x.remove("malay")
t_2 = tuple(x)
x

['manthan', 'harsh', 'nilay']

### count

In [ ]:
#returns the no. of times specified value occurs in tuple

### index

In [ ]:
#searches the tuple for specified value and returns its index.

# Sets

- A set is a collection which is **unordered** and **unindexed**.
- Its items cannot be changed, but new items can be added.
- Access is through looping, no index

In [23]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

In [24]:
my_set = {"red", "white", "blue", "red"} # don't allows duplicate in output
my_set

{'blue', 'red', 'white'}

In [25]:
# The values True and 1 are considered the same value in sets and also (false and 0 are same), and are treated as duplicates:
set1 = {"apple", "banana", "cherry", 1, 2, True} 
set1

{1, 2, 'apple', 'banana', 'cherry'}

__set methods (https://www.w3schools.com/python/python_ref_set.asp)__

## Dictionary

- A dictionary is a collection which is **unordered**, **changeable** and **indexed**. In Python dictionaries are written with curly brackets, and they have keys and values.

In [23]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [24]:
print(dict1["model"])

Mustang

In [26]:
print(dict1["year"])

1964

* Duplicates not allowed in dictionary but if you add duplicate with same key it takes second value in print

In [28]:
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2001
}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2001}

In [29]:
# you can also create dictionary like this...
dict_1 = dict(name = "John", age = 36, country = "Norway")
print(dict_1)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [31]:
# you can also use get() method for access the dict items
x = dict_1.get("age")
x

36

In [32]:
# you can change the calue by referring to its key and use update() method :
car = {
  "brand": "Ford",
  "model": "Endeavour",
  "year": 1999
}
car["year"] = 2018

In [33]:
car

{'brand': 'Ford', 'model': 'Endeavour', 'year': 2018}

In [34]:
car.update({"model": "Aspire"})
car

{'brand': 'Ford', 'model': 'Aspire', 'year': 2018}

In [35]:
# update() method also use for adding key and value pairs
car.update({"owner": "1st"})
car

{'brand': 'Ford', 'model': 'Aspire', 'year': 2018, 'owner': '1st'}

# For removig items in dictionay use :
# pop() it is use for specific value
# popitem()  it removes last inserted item
# clear()  it is use for empties the dict

In [36]:
avengers = {
  "ironman" : {
    "name" : "tony",
    "year" : 2004
  },
  "cap america" : {
    "name" : "steve",
    "year" : 2007
  },
  "hulk" : {
    "name" : "bruce",
    "year" : 2011
  }
}

In [37]:
avengers

{'ironman': {'name': 'tony', 'year': 2004},
 'cap america': {'name': 'steve', 'year': 2007},
 'hulk': {'name': 'bruce', 'year': 2011}}

In [38]:
for x in avengers:
    print(x) # prints all KEY names in dict
    print(avengers[x]) #prints inner dict with key x
    print(avengers[x]["name"]) #accessing level 2 VALUES

ironman
{'name': 'tony', 'year': 2004}
tony
cap america
{'name': 'steve', 'year': 2007}
steve
hulk
{'name': 'bruce', 'year': 2011}
bruce

### dict methods
https://www.w3schools.com/python/python_ref_dictionary.asp

## Conditinals and Loops

### if- elif- else

In [ ]:
# if , else, elif have some indention levels

In [39]:
# shorthand if-else
a,b = 10,19
print("A") if a>b else print("B")

B

In [40]:
print("A") if a>b else print("=") if a==b else print("B")

B

In [41]:
# "and", "or" can be used to combine conditions
# if satements can't ne empty, but if needed, use "pass"

### while

To execute statements AS LONG AS a condition is true.

In [42]:
i = 1 
while i<6:
    print(i)
    if i == 3:break
    i += 1

1
2
3

In [55]:
i = 1
while i < 7:
    print(i)
    i = i+1
    if i == 6 : continue
else: print("i is no longer less than 6")

1
2
3
4
5
6
i is no longer less than

"break" is used to break loop even when while contidtion is true.
"continue" can be used to stop the current iteration and continue with the next.

"else" can be used to run a block when the condition no longer is true.

### for

* used to iterate over a swquence 
* can use "continue", "break" and "pass" and "else"

### range function

In [56]:
for i in range(1,10): print(i)

1
2
3
4
5
6
7
8
9

In [57]:
for i in range(2,10,2): print(i)

2
4
6
8

## Functions

In [58]:
def my_func(arg1,arg2,arg3):
    print(arg1,arg2,arg3)
my_func("a",1,["x,y,z"])

a 1 ['x,y,z']

### arguments

- exact number of args are required in same order
- any data type can be passed as argument, and will be treated as such by the function
- arbitrary no. of args need "*args"

In [59]:
def show(*items):
    print(items)
show(1,2,"x") # function recieves a tuple of arguments

(1, 2, 'x')

### keyword arguments

- arguments are in key=value form
- hence oredering does not matter

In [60]:
def kwargs(arg1, arg2, arg3):
    print(arg1, arg2, arg3)
kwargs(arg2 = 10, arg1 = 8, arg3 = 22)

8 10 22

- arbitrary kwargs need "**kwargs"
- function will recieve a dictionary of arguments

In [61]:
def newfunc(**marvel):
    print(marvel)
    for i in marvel.values():
        if isinstance(i,dict): print(i["name"]) 
newfunc(**avengers) # "**" also required in function call

{'ironman': {'name': 'tony', 'year': 2004}, 'cap america': {'name': 'steve', 'year': 2007}, 'hulk': {'name': 'bruce', 'year': 2011}}
tony
steve
bruce

### recursion

In [62]:
def recursion(k):
    if k>0:
        res = k + recursion(k-1)
        print(res)
    else:
        res = 0
    return res
recursion(5)

1
3
6
10
15

15

## Lambda

* it is a small anonymous function
* takes any no. args but only one expression

syntax: lambda args: expression

In [63]:
x = lambda a : a+25 # created function referrenced by x
print(x(45))
y = lambda a,b,c : a*b*c
y(2,3,4)

70

24

In [64]:
def multiply(n):
    return lambda x : x*n
doubler = multiply(2) # multiplies by 2 
tripler = multiply(3) # multiplies by 3
print(doubler(12))
print(tripler(44))

24
132